# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Build & Test .NET

on:
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - '**/*.md'
      - '.github/**'
      - '.gitignore'
      - '.gitattributes'
      - 'documentation/**'

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_NOLOGO: true
  DotNetVersion: 10.0.x

defaults:
  run:
    working-directory: source

jobs:
  tests:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    
    runs-on: ${{matrix.os}}

    steps:
    - uses: actions/checkout@v6
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: ${{ env.DotNetVersion }}
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: >
        dotnet test 
        --configuration Release 
        --no-build 
        --verbosity normal 
        --collect:"XPlat Code Coverage" 
        --results-directory ./coverage 
        --settings .runsettings

    - name: Install dotnet coverage
      if: matrix.os == 'ubuntu-latest'
      run: dotnet tool install --global dotnet-coverage

    - name: Merge Coverage Reports
      if: matrix.os == 'ubuntu-latest'
      run: dotnet-coverage merge "coverage/**/*.cobertura.xml" --output ./coverage/merged.cobertura.xml --output-format cobertura

    - name: Code Coverage Report
      if: matrix.os == 'ubuntu-latest'
      uses: irongut/CodeCoverageSummary@v1.3.0
      with:
        filename: source/coverage/merged.cobertura.xml 
        badge: true
        fail_below_min: true
        format: markdown
        hide_branch_rate: false
        hide_complexity: true
        indicators: true
        output: both
        thresholds: '60 80'

    - name: Add Coverage PR Comment
      if: matrix.os == 'ubuntu-latest' && github.event_name == 'pull_request'
      uses: marocchino/sticky-pull-request-comment@v2
      with:
        recreate: true
        path: code-coverage-results.md